.text{
	text-align: left;

}
.ASSEMBLY{
	text-align: center;
	font-size: 30px;



}
.articles{
	text-align: center;
	
}
.Aims{
	text-align: center;
}
.image{
	align-self: 100%;

}
.objects{
	margin: 90px 75px;
	margin-left: 120px;
	text-align: left;
	font-size: 20px;

}
.law{
	margin: 90px 75px;
	

}
.missiah{
	align-self: center;
}

